:root {
    --azul-oceanica: #004a99;
    --naranja-oceanica: #f37021;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden; /* Evita scroll doble */
    background-color: #525659; /* Color de fondo del visor de PDF */
}

.main-header {
    background-color: #ffffff;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-container {
    padding: 15px 0;
    display: flex;
    justify-content: center;
    width: 100%;
}

.logo-centrado {
    height: 50px; /* Ajusta según el tamaño de tu logo */
    width: auto;
}

.accent-bar {
    height: 4px;
    width: 100%;
    background: linear-gradient(to right, var(--azul-oceanica) 75%, var(--naranja-oceanica) 25%);
}

.viewer-container {
    height: calc(100vh - 75px); /* Resta la altura del header */
    width: 100%;
    display: flex;
}

.pdf-embed {
    border: none;
}
